# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
app-ui/dist
app-ui/tmp
app-ui/out-tsc
app-ui/bazel-out

# Node
app-ui/node_modules
app-ui/npm-debug.log
app-ui/yarn-error.log

# IDEs and editors
app-ui/.idea/
app-ui/.project
app-ui/.classpath
app-ui/.c9/
app-ui/*.launch
app-ui/.settings/
app-ui/*.sublime-workspace

# Visual Studio Code
app-ui/.vscode/*
app-ui/.vscode/settings.json
app-ui/.vscode/tasks.json
app-ui/.vscode/launch.json
app-ui/.vscode/extensions.json
app-ui/.history/*

# Miscellaneous
app-ui/.angular/cache
app-ui/.sass-cache/
app-ui/connect.lock
app-ui/coverage
app-ui/libpeerconnection.log
app-ui/testem.log
app-ui/typings

# System files
app-ui/.DS_Store
app-ui/Thumbs.db

# Docs
docs/checklists
docs/templates